

.al-page {
    .header {
        .thumbnail {
            position: relative;
            height: 400px;
            width: 100%;
            z-index: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            .centered_content {
                top: unset;
                bottom: 80px;
                transform: translateX(-50%);
            }
            &::after {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 2;
                background: #00000050;
            }
        }
        &.no-thumb {
            .thumbnail {
                height: 300px;
                background: $color__background-theme-1;
                .centered_content {
                    bottom: 40px;
                    padding: 20px 10px;
                    border-radius: 10px;
                    background: $color__background-theme-2;
                }
                &::after {
                    content: none;
                }
            }
        }
    }
    .content-wrapper {
        padding: 40px 50px;
        display: flex;

        .left {
            .content {
                .gallery {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    .gallery-item {
                        float: none!important;
                        width: fit-content!important;
                        margin: 10px;
                    }
                    img {border: none!important;}
                }
                p {
                    text-indent: 60px;
                    &:nth-child(1){
                        text-indent: 0;
                        &:first-letter {
                            float: left;
                            margin: 0 10px 0 40px;
                            font-size: 48px;
                            line-height: 1;
                            color: $color__background-theme-2;
                        }
                    }
                }
            }
            .footer {
                padding-top: 20px;
                a {
                    @include button-outline($color__background-theme-1,#ffffff);
                    text-decoration: none;
                    display: inline-block;
                    border-radius: 50px;
                }
            }
        }

        .right {
            margin-left: 60px;
            .sidebar {
                position: relative;
                min-width: 200px;
            }
        }

        @include media-breakpoint-down(sm){
            & {
                display: block;
                .right {
                    margin-top: 40px;
                    margin-left: 0px;
                }
            }
        }
    }
}
.page-404 {
    position: relative;
    min-height: 400px;
    color: $color__background-theme-1;
    background: #fafafa url("src/img/404.png") no-repeat 103% 50% / auto 100%;
    .centered-content {
        @include centered-content();
        width: fit-content;
        max-width: calc(100% - 40px);
        box-shadow: 0 10px 20px 0px #00000010;
        padding: 20px 30px;
        border-radius: 40px;
        background: #fffffff6;
        .title { 
            @include title();
            font-size: 30px;
        }
        .subtitle {
            @include subtitle();
            font-size: 18px;
            &.second { @include opacity-6();font-size: 14px; }
        }
    }
}