// Searchbar , style for `searchform.php`
#searchpage {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    pointer-events: none;

    .searchbar {
        position: relative;
        z-index: 2;
        display: flex;
        padding: 40px 0;
        justify-content: center;
        flex-wrap: wrap;
        transition: var(--transition);
        transform: translateY(-130%);
        box-shadow: var(--box-shadow-d-2);
        background: #ffffff;//linear-gradient(135deg,#ffffff 40%,#3db2b4);

        input {
            @include input(#266d6f);
        }
        button {
            @include button-wBg(#2f8586,#ffffff);
        }
    }

    .block {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
        transition: var(--transition);
        background: transparent;
    }

    &.active {
        pointer-events: all;
        .searchbar {
            transform: translateY(0);
        }
        .block {
            background: rgba(0, 0, 0, 0.6);
        }
    }
}


// Navigation Top
#navbar-top {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;

    button.btn-fab {
        @include button-fab(#ffffff, #000000);
    }
    .navbar {
        z-index: 10;
        padding-top: 32px;
        padding-left: 65px;
        padding-right: 65px;
    
        .logo {
            position: absolute;
            height: 50px;
            width: auto;
            top: 28px;
            left: 50%;
            transform: translate(-50%,0%);
        }
    }
    .navbar.center {
        padding-top: 10px;
        justify-content: center;
        color: #ffffff;

        button {
            text-transform: uppercase;
            font-style: italic;
            color: inherit;
        }
    }
}

#mini-header { 
    position: relative;
    min-height: 100px;
    width: 100%;
    padding: 170px 65px 40px 65px;
    color: #ffffff;
    background: $color__background-theme-1;
    
    .sub-header {
        width: max-content;
        min-width: 30%;
        padding: 10px 30px;
        border-radius: 5px;
        background: $color__background-theme-2;
        .title { @include title(); }
        .subtitle { 
            @include subtitle();
            
            &:nth-child(1) { @include opacity-8(); }
        }
        & > .subtitle:nth-last-child(1) { @include opacity-6(); }
    }
}