#mini-header { 
    position: relative;
    min-height: 100px;
    width: 100%;
    padding: 170px 65px 40px 65px;
    color: #ffffff;
    background: $color__background-theme-1;
    
    .sub-header {
        width: max-content;
        min-width: 30%;
        padding: 10px 30px;
        border-radius: 5px;
        background: $color__background-theme-2;
        .title { @include title(); }
        .subtitle { 
            @include subtitle();
            
            &:nth-child(1) { @include opacity-8(); }
        }
        & > .subtitle:nth-last-child(1) { @include opacity-6(); }
    }

    @include media-breakpoint-down(xs){
        .sub-header {
            width: 100%;
        }
    }
    @include media-breakpoint-down(sm){
        padding: 170px 20px 40px 20px;
    }
}

.section {
    position: relative;
    height: 100%;
    width: 100%;
}