
.comment_box {
    position: relative;
    display: flex;
    margin-top: 8px;
    flex-wrap: wrap;
}
    .comment_label {
        position: relative;
        width: 50px;
        margin-top: 10px;
        font-weight: 600;
        font-size: 14px;
    }
    .comment_input {
        position: relative;
        width: calc( 100% - 16px - 4px );
        max-width: 250px;
        height: 36px;
        resize: none;
        margin-top: 6px;
        padding: 0 8px;
        transition: $transition;
        font: inherit;
        font-size: 14px;
        border-radius: 8px;
        border: 2px solid #f1f3f4;
    }
    #comment-body {
        max-width: none;
        width: calc( 100% - 16px - 4px );
        height: 88px;
        margin-top: 14px;
        margin-bottom: 8px;
        padding: 8px;
        line-height: 22px;
    }
        .comment_input.active,.comment_input:hover,.comment_input:focus {
            border: 2px solid $color__background-theme-1;
        }

#comments {
    max-width: 750px;
    padding: 0 65px;

    .comment_title {
        position: relative;
        padding: 20px;
        padding-bottom: 0;
        font-size: 18px;
        font-weight: 600;
        color: $color__text-dark-2;
        &::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 30px;
            bottom: -5px;
            left: 20px;
            border-radius: 5px;
            background: $color__text-dark-2;
        }
    }

    .comment-list {
        margin-top: -10px;
    }

    .card {
        display: block;
        padding: 20px;
        margin: 40px auto;
        border: none;
        box-shadow: 0 2px 5px 0 rgba(32,33,36,0.03), 0 15px 38px 0 rgba(32,33,36,0.01);
        background: #ffffff;
        .detail {
            color: $color__background-theme-2;

            
            .bigtitle, .title {
                font-size: 14px;
                font-weight: 600;
            }
            .bigtitle {
                color: #5f6368;
                font-size: 18px;
            }
            .subtitle {
                font-size: 12px;
                opacity: .8;
            }
        }
        &.child-gray {
            box-shadow: none;
            background: #fdfdfd;
        }
        .reply {
            @include button-wBg($color__background-theme-1);
            text-decoration: none;
            font-size: 14px;
            border-radius: 50px;
            padding: 5px 15px;
        }
        .action {
            button {
                @include button-wBg($color__background-theme-1);
                display: block;
                border-radius: 5px;
            }
        }
    }
}