.landing {
    background: black;// url("src/img/jaime-0.png") no-repeat center / cover;


    .content {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        color: #ffffff;
        
        .slick-arrow {
            z-index: 3;
            height: 48px;
            width: 48px;
            background: url("src/img/chevron.png") no-repeat center / contain;

            &::before {
                content: none;
            }
            &.slick-prev {
                left: 65px;
            }
            &.slick-next {
                right: 65px;
                transform: translateY(-50%) rotate(180deg);
            }
            @include media-breakpoint-down(sm){
                &.slick-prev {
                    left: 20px;
                }
                &.slick-next {
                    right: 20px;
                }
            }
            @include media-breakpoint-down(xs){
                & {
                    height: 30px;
                    width: 30px;
                }
                &.slick-prev {
                    left: 0px;
                }
                &.slick-next {
                    right: 0px;
                }
            }
        }

        .slick-list {
            height: 100%;
            .slick-track {
                height: 100%;
            }
        }
        .item,.fixed_header {
            position: relative;
            height: 100%;
            width: 100%;
            transition: $transition;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            @at-root .centered_content {
                position: absolute;
                top: 50%;
                left: 50%;
                min-width: 300px;
                text-align: center;
                z-index: 3;
                color: #ffffff;
                transform: translate(-50%,-50%);

                .category {
                    font-size: 14px; 
                    text-transform: uppercase;
                }
                .title {
                    padding: 4px 0;
                    opacity: 1;
                    font-size: 28px;
                    font-weight: 600;
                    text-transform: uppercase;
                }
                .detail {
                    font-size: 14px;
                    transition: $transition;
                    a {
                        text-transform: capitalize;
                        color: inherit;
                        text-decoration: none;
                    }
                    .divider {
                        padding: 0 12px;
                    }
                }
            }
        }
    }
}